<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #content [scrollEvents]="true" (ionScroll)="logScrolling($event)">
  <ion-card *ngFor="let user of users[0]">
    <ion-card-content>
      <div>{{user.name}}</div>
      <div>{{user.email}}</div>
    </ion-card-content>
  </ion-card>

  <ion-infinite-scroll
    threshold="10%"
    position="top"
    (ionInfinite)="loadData($event)"
  >
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
